{{> header }}
<!-- MAIN START -->
<main>
    <div class="container cursos ">
        <div class="row ">
            <div class="dropdown col-10 col-md-4 col-sm-6 container-fluid">
                <button class="btn btn-secondary dropdown-toggle col-12 " type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Buscar por categoria
                </button>
                <ul class="dropdown-menu">
                    {{#each Categories }}
                    <li><a class="dropdown-item" href="/cursos/pesquisarCategoria/{{ id }}"> {{ name }} </a></li>
                    {{/each}}
                </ul>
            </div>
            <div class="col-10  col-md-4 col-sm-6 container-fluid curso-search">
                <input type="search" name="search" id="search" placeholder="Pesquisar cursos..." class="form-control">
            </div>
            <hr>
        </div>
    </div>
    <div class="cursos ctsearch">
    
        <!-- ********* CURSOS START ********* -->
        <section id="cursos_display" class="ctsearch2">

            <h2>Todos os cursos</h2>
            <!-- Container -->
            <div class="cs_dis_container row">
                {{#each cursos}}

                <!-- Card start -->
                <a href="/cursos/detalhes/{{ id }}" class="cs_dis_card col-12 col-sm-5 col-md-5  container-fluid">
                    <img src="/admin/img/cursos/{{ image }}" alt="">
                    <!-- Heart -->

                    <div class="cs_dis_card_contente">
                        <!-- CURSO name and image -->
                        <div class="cs_dis_user">
                            {{#if ../User.imagem}}
                            <img src="/admin/img/profile/{{ ../User.imagem }}" alt="">
                            <h5>{{ name }} </h5>
                            {{else }}
                            <img src="/admin/img/profile.jpg" alt="imagem do {{ ../User.nome }}">
                            <h5>{{ ../User.nome }} </h5>
                            {{/if}}
                        </div>
                        <!-- Litle description -->
                        <div class="cs_dis_descriptio">
                            {{#TruncateText descricao 80}} {{/TruncateText }}
                        </div>
                        <!-- rate -->
                        <div class="cs_rate">
                            <i class="bi bi-star-fill"></i>
                            <p>5.0 <span>(132)</span></p>
                            <p></p>
                        </div>
                    </div>
                </a>
                <!-- Card end -->

                {{/each}}

            </div>

            <!-- ===================== SEARCH ============== -->
            <div class="cs_dis_container row">

            </div>
            <!-- ==================== SEARCH ================== -->

            <div class="row">
                <div class="cs_pagination_container col-6  col-md-5 col-lg-4 container-fluid">
                    <ul class="cs_pagination ">
                        {{#if showPrevious}}
                        <li><a href="/cursos?page={{ anterior }}"><i class="bi bi-arrow-left"></i> </a></li>
                        {{/if}}
                        <li><a href="/cursos?page={{ correntPage }}"> {{ correntPage }} </a></li>
                        {{!-- {{#each interval as |item|}}
                        <li><a href="/cursos?page={{ item }}"> {{ item }} </a></li>
                        {{/each}} --}}
                        <li class="of"> <a href="#">de</a> </li>

                        <li><a href="/cursos?page={{ totalPage }}"> {{ totalPages }} </a></li>
                        {{#if showNext}}
                        <li><a href="/cursos?page={{ proxima }}"><i class="bi bi-arrow-right"></i></a></li>
                        {{/if}}
                    </ul>
                </div>
            </div>
        </section>
        <!-- ********* CURSOS END ********* -->

    </div>
</main>
<!-- MAIN END -->

<script>
    const search = document.getElementById('search');
    const cursos_display = document.getElementById('cursos_display');
    const cursos_recomendados = document.getElementById('cursos-recomendados');
    const instrutor = document.getElementById('instrutor');
    const testemunhos = document.getElementById('testemunhos');
    const cs_pagination_container = document.getElementsByClassName('cs_pagination_container')[0];
    const row = document.getElementsByClassName('row');
    row[2].style.display = 'none';

    function truncateText(text, length) {
        if (text.length > length) {
            return text.substring(0, length) + '...';
        } else {
            return text;
        }
    }

    // Search Event Handle
    search.addEventListener('input', async () => {
        row[2].innerHTML = '';
        const query = search.value;
        console.log(query);

        await fetch(`/cursos/search?query=${query}`)
            .then(response => response.json())
            .then(data => {
                console.log(data);

                if (data) {
                    if (query) {
                        for (let item of data) {
                            // create a link for card
                            const card = document.createElement('a');
                            card.setAttribute("href", `/cursos/detalhes/${item.id}`);
                            card.setAttribute("class", "cs_dis_card col-12 col-sm-5 col-md-5 container-fluid");
                            row[2].appendChild(card);

                            // create card image
                            const img = document.createElement('img');
                            img.setAttribute("src", `/admin/img/cursos/${item.image}`);
                            img.setAttribute("alt", `${item.name}`);
                            card.prepend(img);

                            // Create a card content
                            const content = document.createElement('div');
                            content.setAttribute("class", "cs_dis_card_contente");
                            card.appendChild(content);

                            // Create user card info div
                            const userContent = document.createElement('div');
                            userContent.setAttribute("class", "cs_dis_user");
                            content.appendChild(userContent);

                            if (item.user.imagem) {
                                const userImg = document.createElement('img');
                                userImg.setAttribute("src", `/admin/img/profile/${item.user.imagem}`);
                                userContent.appendChild(userImg);
                                const cursoTitle = document.createElement('h5');
                                const titleTex = document.createTextNode(item.name);
                                cursoTitle.appendChild(titleTex);
                                userContent.appendChild(cursoTitle);
                            } else {
                                const userImg = document.createElement('img');
                                userImg.setAttribute("src", `/admin/img/profile.jpg`);
                                userContent.appendChild(userImg);
                                const cursoTitle = document.createElement('h5');
                                const titleTex = document.createTextNode(item.name);
                                cursoTitle.appendChild(titleTex);
                                userContent.appendChild(cursoTitle);
                            } // end if

                            // create description box
                            const desc = document.createElement('div');
                            desc.setAttribute("class", "cs_dis_descriptio");
                            const descText = document.createTextNode(truncateText(item.descricao, 80));
                            desc.appendChild(descText);
                            content.appendChild(desc);

                            // Create rate box
                            const rate = document.createElement('div');
                            rate.setAttribute("class", "cs_rate");
                            content.appendChild(rate);
                            const rateIcon = document.createElement('i');
                            rateIcon.setAttribute("class", "bi-star-fill");
                            rate.appendChild(rateIcon);
                            const rateParag = document.createElement('p');
                            const rateText = document.createTextNode('5.0');
                            rateParag.appendChild(rateText);
                            const span = document.createElement('sapn');
                            const spanText = document.createTextNode('(123)');
                            span.appendChild(spanText);
                            rateParag.appendChild(span);
                            rate.appendChild(rateParag);


                            cursos_recomendados.style.display = 'none';
                            instrutor.style.display = 'none';
                            testemunhos.style.display = 'none';
                            cs_pagination_container.style.display = 'none';
                            row[1].style.display = 'none';
                            row[2].style.display = 'flex';
                        }

                    } else {

                        cursos_recomendados.style.display = 'block';
                        instrutor.style.display = 'block';
                        testemunhos.style.display = 'block';
                        cs_pagination_container.style.display = 'block';
                        row[1].style.display = 'flex';
                        row[2].style.display = 'none';

                    }
                }
            });
    });
</script>


{{> footer }}