{{> dashHeader }}
{{> dashSidebar }}
<!-- MAIN START -->
<main>
    <div class="container">
        {{!-- Breadcrumbs --}}
        <div class="curso_breadcrumbs">
            <div class="breadcrumbs">
                <ul>
                    <li><a href="/dashboard">Home</a></li>
                    <li><a href="/dashboard/cursos">Cursos</a></li>
                </ul>
            </div>
        </div>

        {{!-- Curso --}}
        <div class="allCourse_container">

            {{!-- BAR START --}}
            <div class="allCourse_bar">
                <ul class="bar_box">
                    {{!-- New course --}}
                    <li><a href="/dashboard/cursos/novocurso" class="btn btn-primary new_btn_c"> <i
                                class="bi bi-plus-square-dotted"></i>
                            Novo</a></li>
                    {{!-- All Course --}}
                    <li><a href="/dashboard/cursos" id="all_c_btn"> <i class="bi bi-grid"></i> Todos</a></li>
                    {{!-- Dropdown Category --}}
                    <li>
                        <div class="dropdown">
                            <button class="btn dropdown-toggle dropdown_category" type="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Organizar por categoria
                            </button>
                            <ul class="dropdown-menu ">
                                {{#each categoria}}
                                <li><a class="dropdown-item" href="/dashboard/cursos/pesquisa/{{id}}"> {{ name }} </a>
                                </li>
                                {{/each}}
                            </ul>
                        </div>
                    </li>
                    {{!-- SEARCH BAR --}}
                    <li>
                        <form>
                            <input type="search" placeholder="Pesquise...">
                        </form>
                    </li>
                </ul>
            </div>
            {{!-- BAR END --}}

            {{!-- CONTENT START --}}
            <div class="allcourse_content">
                <div class="row">

                    {{#each cursos }}
                    {{!-- CARD --}}
                    <div class="allCourse_card col-11 col-md-4 container-fluid">
                        <img src="/admin/img/cursos/{{image}}" alt class="acl_img">
                        <div class="acl_card_content">
                            <h5> {{name}} </h5>
                            <ul>
                                <li><span><i class="bi bi-calendar-week"></i>
                                        {{data}} </span></li>
                                {{!-- <li><span class="acl_inscritos"> <i class="bi bi-mortarboard"></i> {{#NumFormat
                                        ../enrolNumber }} {{/NumFormat}}
                                        Inscritos</span></li> --}}
                            </ul>
                            <p> {{#TruncateText descricao 80}} {{/TruncateText}}
                            </p>

                            <a href="/dashboard/cursos/detalhes/{{id}}" class="btn btn-primary">Saber Mais </a>

                        </div>

                    </div>
                    {{!-- CARD --}}
                    {{/each}}

                    <div class="col-11  container-fluid course_pagination">
                        {{#if showPrevious}}
                        <a href="/dashboard/cursos?page={{ anterior }}" class="previous"><i
                                class="bi bi-chevron-double-left"></i></a>
                        {{/if}}

                        <span>
                            <div class="d1">{{ currentPage }}</div> ... <div class="d2">{{ totalPages }}</div>
                        </span>

                        {{#if showNext}}
                        <a href="/dashboard/cursos?page={{ proxima }}" class="next"><i
                                class="bi bi-chevron-double-right"></i></a>
                        {{/if}}
                    </div>
                </div>
            </div>
            {{!-- CONTENT END --}}

        </div>

    </div>
</main>
<script>

</script>
<!-- MAIN END -->
{{> dashFooter }}

