{{> dashHeader }}
{{> dashSidebar }}
<!-- MAIN START -->
<main>
    <div class="container">
        {{!-- Breadcrumbs --}}
        <div class="curso_breadcrumbs">
            <div class="breadcrumbs">
                <ul>
                    <li><a href="/dashboard">Home</a></li>
                    <li><a href="/dashboard/cursos">Cursos</a></li>
                </ul>
            </div>
        </div>

        {{!-- Curso --}}
        <div class="allCourse_container">

            {{!-- BAR START --}}
            <div class="allCourse_bar">
                <ul class="bar_box">
                    {{!-- New course --}}
                    {{#if userRole}}
                    <li>
                        <a href="/dashboard/cursos/novocurso" class="btn btn-primary new_btn_c">
                            <i class="bi bi-plus-square-dotted"></i>
                            Novo
                        </a>
                    </li>
                    {{/if}}
                    {{!-- All Course --}}
                    <li><a href="/dashboard/cursos" id="all_c_btn"> <i class="bi bi-grid"></i> Todos</a></li>
                    {{!-- Dropdown Category --}}
                    {{#if userRole}}
                    <li>
                        <div class="dropdown">
                            <button class="btn dropdown-toggle dropdown_category" type="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Organizar por categoria
                            </button>
                            <ul class="dropdown-menu ">
                                {{#each categoria}}
                                <li><a class="dropdown-item" href="/dashboard/cursos/pesquisa/{{id}}"> {{ name }} </a>
                                </li>
                                {{/each}}

                            </ul>
                        </div>
                    </li>
                    {{/if}}
                    {{!-- SEARCH BAR --}}
                    <li>
                        <form method="get">
                            <input type="search" id="search" name="search" placeholder="Pesquise...">
                            {{!-- <button>search</button> --}}
                        </form>
                    </li>
                </ul>
            </div>
            {{!-- BAR END --}}

            {{!-- CONTENT START --}}
            <div class="allcourse_content">
                <div class="row">

                    {{#each cursos }}
                    {{!-- CARD --}}
                    <div class="allCourse_card col-11 col-md-4 container-fluid">
                        <img src="/admin/img/cursos/{{image}}" alt class="acl_img">
                        <div class="acl_card_content">
                            <h5> {{name}} </h5>
                            <ul>
                                <li><span><i class="bi bi-calendar-week"></i>
                                        {{data}} </span></li>
                                {{!-- <li><span class="acl_inscritos"> <i class="bi bi-mortarboard"></i> {{#NumFormat
                                        ../enrolNumber }} {{/NumFormat}}
                                        Inscritos</span></li> --}}
                            </ul>
                            <p> {{#TruncateText descricao 80}} {{/TruncateText}} </p>

                            <a href="/dashboard/cursos/detalhes/{{id}}" class="btn btn-primary">Saber Mais </a>
                            {{#if isEnrolled}}
                            <a href="/dashboard/cursos/detalhes/acompanhar/{{id}}" class="btn btn-warning">Continuar
                            </a>

                            {{/if}}

                        </div>

                    </div>
                    {{!-- CARD --}}
                    {{/each}}

                    <div class="col-11  container-fluid course_pagination">
                        {{#if showPrevious}}
                        <a href="/dashboard/cursos?page={{ anterior }}" class="previous"><i
                                class="bi bi-chevron-double-left"></i></a>
                        {{/if}}

                        <span>
                            <div class="d1">{{ currentPage }}</div> ... <div class="d2">{{ totalPages }}</div>
                        </span>

                        {{#if showNext}}
                        <a href="/dashboard/cursos?page={{ proxima }}" class="next"><i
                                class="bi bi-chevron-double-right"></i></a>
                        {{/if}}
                    </div>
                </div>
            </div>
            {{!-- CONTENT END --}}

            {{!-- ================= SEARCH CONTENT ONLY ==================--}}
            <div class="allcourse_content">
                <div class="row">

                </div>
            </div>
            {{!-- ================= SEARCH CONTENT ================== --}}

        </div>

    </div>
</main>
<!-- MAIN END -->

<script>
    const search = document.getElementById('search');
    const allcourse_content = document.getElementsByClassName('allcourse_content');
    const row = document.getElementsByClassName('row')[1];
    allcourse_content[1].style.display = 'none';

    function truncateText(text, length) {
        if (text.length > length) {
            return text.substring(0, length) + '...';
        } else {
            return text;
        }
    }

    search.addEventListener('input', async() => {
        let query = search.value;
        row.innerHTML = '';
        await fetch(`/dashboard/cursos/search?query=${query}`)
            .then(response => response.json())
            .then(data => {
                if (data) {

                    if (query) {
                        for (let item of data) {

                            //Create Card div
                            const card = document.createElement('div');
                            card.setAttribute("class", "allCourse_card col-11 col-md-4 container-fluid");
                            row.appendChild(card);

                            //create image
                            const image = document.createElement('img');
                            image.setAttribute("src", `/admin/img/cursos/${item.image}`);
                            image.setAttribute("alt", `${item.name}`);
                            card.prepend(image);

                            //create content div
                            const content = document.createElement('div');
                            content.setAttribute("class", "acl_card_content");
                            card.appendChild(content);

                            // create title h5
                            const title = document.createElement('h5');
                            const titleText = document.createTextNode(item.name);
                            title.appendChild(titleText);
                            content.prepend(title);

                            //create list
                            const list = document.createElement('ul');
                            content.appendChild(list);
                            const listItem = document.createElement('li');
                            list.appendChild(listItem);
                            const span = document.createElement('span');
                            listItem.appendChild(span);
                            const icon = document.createElement('i');
                            icon.setAttribute("class", "bi bi-calendar-week");
                            span.appendChild(icon)
                            const dateText = document.createTextNode(` ${item.data}`);
                            icon.appendChild(dateText);

                            // create paragraph for description
                            const desc = document.createElement('p');
                            const textTuncated = truncateText(item.descricao, 80)
                            const descText = document.createTextNode(textTuncated);
                            desc.appendChild(descText);
                            content.appendChild(desc);

                            //create a link
                            const link = document.createElement('a');
                            link.setAttribute("href", `/dashboard/cursos/detalhes/${item.id}`);
                            link.setAttribute("class", "btn btn-primary");
                             const linkText= document.createTextNode('Saber Mais');
                             link.appendChild(linkText);
                             content.appendChild(link);


                            allcourse_content[0].style.display = 'none';
                            allcourse_content[1].style.display = 'block';
                            console.log(data);
                        }
                    } else {

                        allcourse_content[0].style.display = 'block';
                        allcourse_content[1].style.display = 'none';
                        console.log('pooooooooooooooo')
                    }
                }
            });
    });


</script>

{{> dashFooter }}