{{> dashHeader }}
{{> dashSidebar }}
<!-- MAIN START -->
<main>
    <div class="container">
        {{!-- Breadcrumbs --}}
        <div class="crowd_breadcrumbs">
            <div class="breadcrumbs">
                <ul>
                    <li><a href="/dashboard">Home</a></li>
                    <li><a href="/dashboard/crowdfunding">Crowdfunding</a></li>
                    <li><a href="#">Detalhes</a></li>
                </ul>
            </div>
        </div>

        <div class="crf_dtails_container">

            <div class="crf_details">
                <div class="row crf_details_contente">
                    {{!-- --}}
                    <div class="col-11 col-md-8 col-lg-6 container-fluid">
                        <div class="crf_video">
                            <iframe src="{{ crowdfundig.link }}" frameborder="0" height="300px"
                                allowfullscreen="allowfullscreen" mozallowfullscreen="mozallowfullscreen"
                                msallowfullscreen="msallowfullscreen" oallowfullscreen="oallowfullscreen"
                                webkitallowfullscreen="webkitallowfullscreen"> </iframe>

                            <div class="dt_description">
                                <h3> {{ crowdfundig.titulo }} </h3>
                                <p> {{ crowdfundig.descricao }} </p>
                            </div>
                        </div>
                    </div>
                    {{!-- --}}
                    <div class="col-11 col-md-8 col-lg-5 container-fluid">
                        <div class="more_detail">
                            <h3>Mais Detalhes</h3>
                            {{!-- --}}
                            <ul class="crf_avaluetion">
                                <li>
                                    <div>
                                        <div class="crf_icon"><i class="bi bi-currency-exchange"></i></div>
                                        Objetivo:
                                    </div>
                                    <span> {{#NumberFormat crowdfundig.valor_meta }} {{/NumberFormat }} </span>
                                </li>
                                <li>
                                    <div>
                                        <div class="crf_icon"><i class="bi bi-piggy-bank-fill"></i></div>
                                        Arrecadado:
                                    </div>
                                    <span> {{#NumberFormat arrecadado }} {{/NumberFormat }}</span>
                                </li>
                                <li>
                                    <div>
                                        <div class="crf_icon"><i class="bi bi-graph-up-arrow"></i></div>
                                        Apoios realisados:
                                    </div>
                                    <span> {{ apoios }} </span>
                                </li>
                                <li>
                                    <div>
                                        <div class="crf_icon"><i class="bi bi-calendar2-check-fill"></i></div>
                                        Data Publicado:
                                    </div>
                                    <span> {{ crowdfundig.data }} </span>
                                </li>
                                <li>
                                    <div>
                                        <div class="crf_icon"><i class="bi bi-calendar-x-fill"></i></div>
                                        Data Limite:
                                    </div>
                                    <span> {{ crowdfundig.duracao }} </span>
                                </li>
                                <li>
                                    <div>
                                        <div class="crf_icon"><i class="bi bi-heart-pulse-fill"></i></div>
                                        Estado:
                                    </div>
                                    <span class="crf_state"> {{ crowdfundig.estado }} </span>
                                </li>
                            </ul>

                            {{!-- commands --}}
                            <ul class="crf_action">
                                <li>
                                    <a href="/dashboard/crowdfunding/atualizacao/{{ crowdfundig.id }}"><i
                                            class="bi bi-pencil-square"></i> Editar</a>
                                </li>
                                <li> <button class="crf_delete" data-bs-toggle="modal"
                                        data-bs-target="#deleteCrowdfunding"> <i class="bi bi-trash3-fill"></i> Eliminar
                                    </button>
                                </li>
                                <li> <button class="crf_disable"> <i class="bi bi-heartbreak-fill"></i> Desativar
                                    </button> </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="scroll_area">
                <table class="table table-hover">
                    <thead class="table-light">
                        <tr>

                            <th scope="col">Apoiante</th>
                            <th scope="col">Valor</th>
                            <th scope="col">Realisado</th>
                            <th scope="col">Estado</th>
                            <th scope="col">Comprovativo</th>
                            <th scope="col">Ações</th>
                        </tr>
                    </thead>
                    <tbody>

                        {{#each transacoes}}

                        <tr class="crf_rows">

                            {{!-- Apoiante --}}
                            <td>
                                <div class="tr_helper">
                                    <img src="/admin/img/freelancers/{{ user.imagem }}" alt="Imagem do Freelancer"
                                        class="crf_img">
                                    <h5 class="crf_name"> {{ user.nome }} </h5>
                                </div>
                            </td>

                            {{!-- Valor --}}
                            <td><span class="crf_valor text-primary"> {{#NumberFormat valor }} {{/NumberFormat }}
                                </span></td>

                            {{!-- Data e Hora --}}
                            <td>
                                <div class="dataHora">
                                    <span> {{ data }} </span>
                                    <span> {{ hora }}</span>

                                </div>
                            </td>

                            {{!-- State --}}
                            <td>
                                <span class="tr_state"> {{ estado }} </span>
                            </td>
                            {{!-- Comprovativo --}}
                            <td>
                                <a href="{{#readPDF id }}{{/readPDF }}" class="tr_comp" id="tr_comp">Visualizar</a>
                            </td>
                            {{!-- Acoes --}}
                            <td>
                                <button class="tr_more" data-bs-toggle="modal"
                                    data-bs-target="#staticBackdrop{{ id }}">Mais</button>
                            </td>
                        </tr>

                        <!-- Modal FOR MORE ACTIONS -->
                        <div class="modal fade " id="staticBackdrop{{ id }}" data-bs-backdrop="static"
                            data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
                            aria-hidden="true">
                            <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered ">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="staticBackdropLabel">Alterar o estado da
                                            transação
                                        </h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="tr_flex">
                                            {{!-- Form to aprove transation made --}}
                                            <form id="aprovar">
                                                <input type="text" hidden value="Confirmado" name="aprovar"
                                                    id="{{ id }}">
                                                <button type="submit" class="btn btn-success ft_mdl_dwl"> Aprovar
                                                </button>
                                            </form>

                                            {{!-- Form to reject a transation made --}}
                                            <form id="rejeitar">
                                                <input type="text" hidden value="Rejeitado" name="rejeitar"
                                                    id="{{ id }}">
                                                <button type="submit" class="btn btn-danger ft_mdl_dwl"> Rejeitar
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="modal-footer">

                                    </div>
                                </div>
                            </div>
                        </div>

                        {{/each}}

                        <!-- MODALS TO DELETE A TRANSATION ================================================= -->
                        <div class="modal fade" id="deleteCrowdfunding" tabindex="-1"
                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered ">
                                <div class="modal-content ">
                                    <div class="modal-body crf_delete_alert">
                                        <h5> <i class="bi bi-exclamation-triangle-fill"></i> Tem certeza que pretende
                                            deletar esta campanha?</h5>
                                        <p>Ao deletar esta campanha já não poderá recuperar os dados eliminados.</p>

                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Cancelar</button>
                                        <a href="/dashboard/crowdfunding/deleteCrowdfundig/{{ crowdfundig.id }}"
                                            class="btn btn-primary">continuar</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </tbody>
                </table>

            </div>

        </div>
    </div>
</main>
<script>
    // Asigning DOM element Form
    const aprovarFom = document.getElementById('aprovar');
    const rejeitarFom = document.getElementById('rejeitar');

    // Add Eventlistener for aprovarFom element
    aprovarFom.addEventListener('submit', async (e) => {
        e.preventDefault();

        const aprovar = aprovarFom.aprovar.value;
        const transID = aprovarFom.aprovar.id;
        const alterPath = '/dashboard/crowdfunding/detalhes/alterar/transID';
        const data = { aprovar: aprovar };

        try {
            // Sending data to server process
            const response = await fetch(alterPath, {
                method: 'PUT',
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify(data)
            });

            // Receiveing data from server process
            const result = await response.json();
            console.log(result)

        } catch (err) {
            console.error(err);
        }
    });

    // Add Eventlistener for rejeitarFom element
    rejeitarFom.addEventListener('submit', async (e) => {
        e.preventDefault();

        const rejeitar = rejeitarFom.rejeitar.value;
        const path = '/dashboard/crowdfunding/detalhes/alterar/';
        const data = { rejeitar: rejeitar };

    });


</script>
{{> dashFooter }}