    {{> header }}
    <!-- MAIN START -->
    <main>
        <!-- BANNER -->
        <div class="fr_profil_banner">
            <h2>Perfil do Freelancer: {{ freelancer.user.nome }} </h2>
            <span class="fr_pr_line"></span>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/freelancer">Perfil do freelancer </a></li>
            </ul>
        </div>
        <!-- MAIN CONTAINER START -->
        <div class="fr_profil_container">
            <!-- Row start -->
            <div class="row">
                <div class="fr_profil_data col-11 col-sm-10 col-md-5 col-lg-4 col-xl-3 container-fluid">
                    <div class="fr_pr_border">
                        <!-- FREELANCER MAIN DATA -->
                        <figure>
                            <img src="/admin/img/profile/{{ freelancer.user.imagem }}" alt="">
                            <figcaption>
                                <ul>
                                    <li><a href="#"><i class="bi bi-facebook"></i></a></li>
                                    <li><a href="#"><i class="bi bi-linkedin"></i></a></li>
                                    <li><a href="#"><i class="bi bi-github"></i></a></li>
                                    <li><a href="#"><i class="bi bi-twitter-x"></i></a></li>
                                </ul>
                            </figcaption>
                        </figure>
                        <h3> {{ freelancer.user.nome }} </h3>
                        <p>Especialidade: <span> {{ freelancer.especialidade }} </span></p>
                        <div class="fr_pr_phone">
                            <h4><i class="bi bi-telephone-fill"></i> Telefone</h4>
                            <p>(+244) {{ freelancer.phone }}</p>
                        </div>
                        <div class="fr_pr_email">
                            <h4><i class="bi bi-envelope-at-fill"></i> Email</h4>
                            <p> {{ freelancer.user.email }} </p>
                        </div>
                        {{!-- <div class="fr_pr_website">
                            <h4> <i class="bi bi-globe"></i> Website</h4>
                            <p>www.freelancer.co.ao</p>
                        </div> --}}
                    </div>
                </div>
                <!-- Profil work start -->
                <div class="fr_profil_work col-11 col-sm-10 col-md-5 col-lg-6 col-xl-8 container-fluid">
                    <!-- SKILL START -->
                    <div class="fr_pr_skills">
                        <h3>Minhas <span>Habilidades</span></h3>

                        <div class="progress_conatiner row">
                            <!-- SKILL PROGRESS BAR START -->
                            <div class="col-12 col-lg-10 col-xl-6">
                                {{!-- <p>HTML5</p>
                                <div class="progress" role="progressbar" aria-label="Success example" aria-valuenow="25"
                                    aria-valuemin="0" aria-valuemax="100">
                                    <div class="progress-bar bg-info text-dark" style="width: 95%">95%</div>
                                </div>
                                <p>CSS3</p>
                                <div class="progress" role="progressbar" aria-label="Info example" aria-valuenow="50"
                                    aria-valuemin="0" aria-valuemax="100">
                                    <div class="progress-bar bg-info text-dark" style="width: 80%">89%</div>
                                </div>
                                <p>JS (ES6)</p>
                                <div class="progress" role="progressbar" aria-label="Warning example" aria-valuenow="75"
                                    aria-valuemin="0" aria-valuemax="100">
                                    <div class="progress-bar bg-info text-dark" style="width: 85%">85%</div>
                                </div> --}}

                                {{#each freelancer.habilidades}}
                                   <p> {{ name }} </p>
                                {{/each}}
                                {{ habilidades }}
                            </div>
                            <div class="col-12 col-lg-10 col-xl-6">
                                {{!-- <p>Node JS</p>
                                <div class="progress" role="progressbar" aria-label="Danger example" aria-valuenow="100"
                                    aria-valuemin="0" aria-valuemax="100">
                                    <div class="progress-bar bg-info text-dark" style="width: 80%">80%</div>
                                </div>
                                <p>MySQL</p>
                                <div class="progress" role="progressbar" aria-label="Danger example" aria-valuenow="100"
                                    aria-valuemin="0" aria-valuemax="100">
                                    <div class="progress-bar bg-info text-dark" style="width: 100%">100%</div>
                                </div>
                                <p>Mongo DB</p>
                                <div class="progress" role="progressbar" aria-label="Danger example" aria-valuenow="100"
                                    aria-valuemin="0" aria-valuemax="100">
                                    <div class="progress-bar bg-info text-dark text-dark" style="width: 100%">96%</div>
                                </div> --}}
                            </div>
                            <!-- SKILL PROGRESS BAR END -->
                        </div>
                    </div>
                    <!-- SKILL END -->
                    <!-- MY WORK START -->
                    <div class="fr_pr_works">
                        <h3>Meus <span>Trabalhos</span></h3>
                        <div class="row d-flex flex-row justify-content-between">
                            <figure class="col-12 col-sm-6 col-xl-4">
                                <div class="fr_view">
                                    <img src="/site/img/Freelancer/cards/1.jpg" alt="">
                                    <div class="fr_pr_work_view">
                                        <a href="#"><i class="bi bi-eye-fill"></i></a>
                                    </div>
                                </div>
                                <figcaption>
                                    <p>Sistema de Gestão Acadêmico</p>
                                    <div>
                                        <span><i class="bi bi-star-fill"></i></span>
                                        <span><i class="bi bi-star-fill"></i></span>
                                        <span><i class="bi bi-star-fill"></i></span>
                                        <span><i class="bi bi-star-fill"></i></span>
                                        <span><i class="bi bi-star-fill"></i></span>
                                    </div>
                                </figcaption>
                                
                            </figure>
                            <figure class="col-12 col-sm-6 col-xl-4 ">
                                <div class="fr_view">
                                    <img src="/site/img/Freelancer/cards/2.jpg" alt="">
                                    <div class="fr_pr_work_view">
                                        <a href="#"><i class="bi bi-eye-fill"></i></a>
                                    </div>
                                </div>
                                <figcaption>
                                    <p>Sistema de Gestão Acadêmico</p>
                                    <div>
                                        <span><i class="bi bi-star-fill"></i></span>
                                        <span><i class="bi bi-star-fill"></i></span>
                                        <span><i class="bi bi-star-fill"></i></span>
                                        <span><i class="bi bi-star-fill"></i></span>
                                        <span><i class="bi bi-star-fill"></i></span>
                                    </div>
                                </figcaption>
                            </figure>
                            <figure class="col-12 col-sm-6 col-xl-4 ">
                                <div class="fr_view">
                                    <img src="/site/img/Freelancer/cards/6.jpg" alt="">
                                    <div class="fr_pr_work_view">
                                        <a href="#"><i class="bi bi-eye-fill"></i></a>
                                    </div>
                                </div>
                                <figcaption>
                                    <p>Sistema de Gestão Acadêmico</p>
                                    <div>
                                        <span><i class="bi bi-star-fill"></i></span>
                                        <span><i class="bi bi-star-fill"></i></span>
                                        <span><i class="bi bi-star-fill"></i></span>
                                        <span><i class="bi bi-star-fill"></i></span>
                                        <span><i class="bi bi-star-fill"></i></span>
                                    </div>
                                </figcaption>
                            </figure>
                            <figure class="col-12 col-sm-6 col-xl-4 ">
                                <div class="fr_view">
                                    <img src="/site/img/Freelancer/cards/7.jpg" alt="">
                                    <div class="fr_pr_work_view">
                                        <a href="#"><i class="bi bi-eye-fill"></i></a>
                                    </div>
                                </div>
                                <figcaption>
                                    <p>Sistema de Gestão Acadêmico</p>
                                    <div>
                                        <span><i class="bi bi-star-fill"></i></span>
                                        <span><i class="bi bi-star-fill"></i></span>
                                        <span><i class="bi bi-star-fill"></i></span>
                                        <span><i class="bi bi-star-fill"></i></span>
                                        <span><i class="bi bi-star-fill"></i></span>
                                    </div>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                    <!-- MY WORK END -->
                </div>
                <!-- Profil work end -->
            </div>
             <!-- Row end -->
        </div>
         <!-- MAIN CONTAINER END -->
    </main>
    <!-- MAIN END -->
    {{> footer }}