{{> header }}

<!-- MAIN START -->
<main>
    {{!-- BANNER --}}
    <div class="crowdfunder_banner">
        <h2>Crowdfunder</h2>
        <span class="cont_line"></span>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/crowdfunder">Crowdfunder</a></li>
        </ul>
    </div>
    {{!-- MAIN CONTAIER --}}
    <div id="crowd_container">
        <section class="campanha">
            <h2>Campanha em Destque</h2>

            <div class="row">
                {{#each crowdfunding}}

                {{!-- Crowdfunding Card --}}
                <a href="/crowdfunder/detalhes/{{id}}" class="col-10 col-md-7 col-lg-4 crowd_cart container-fluid">
                    <figure>
                        <img src="/admin/img/crowdfunding/{{ img }}" alt="">
                        <figcaption>projeto de destaque</figcaption>
                    </figure>
                    <!--Content-->
                    <div class="content">
                        <h4> {{ titulo }} </h4>
                        <span> by {{ user.nome }} </span>
                        <p> {{#TruncateText descricao 80 }} {{/TruncateText }} </p>
                    </div>
                    <div class="detail">
                        <div class="progress" role="progressbar" aria-label="Success example" aria-valuenow="83"
                            aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar " style="width: {{#transPurcetage transacoes ./valor_meta}}{{/transPurcetage }}%"></div>
                        </div>
                        <ul>
                            <li class="first">
                               {{#transPurcetage transacoes ./valor_meta}}% {{/transPurcetage }} 
                            </li>
                            <li class="second">
                                {{#forCrfValueSum transacoes }}
                                    {{ valor }}
                                {{/forCrfValueSum}}
                                <span>Levantados</span>
                            </li>
                            <li class="third">
                                {{#crowdDuration data duracao }} {{/crowdDuration }} dias
                                <span>restates</span>
                            </li>
                        </ul>
                    </div>
                    <div class="local">
                        <span><i class="bi bi-geo-alt-fill"></i> {{ local }} </span>
                        <span><i class="bi bi-tag-fill"></i> Jogos</span>
                    </div>

                </a>
                {{/each}}


            </div>
        </section>
    </div>

</main>
<!-- MAIN END -->

{{> footer }}