{{> header }}

<!-- MAIN START -->
<main class="detail">
    <div class="detail_container">
        <h2>Mais Detalhes</h2>
        <div class="row">
            <div class="col-11 col-md-8 col-lg-6 col-xl-6 container-fluid dt_content">
                <div class="dt_content_container">

                    <iframe src="{{ crowdfunding.link }}" frameborder="0" height="300px"
                        allowfullscreen="allowfullscreen" mozallowfullscreen="mozallowfullscreen"
                        msallowfullscreen="msallowfullscreen" oallowfullscreen="oallowfullscreen"
                        webkitallowfullscreen="webkitallowfullscreen">
                    </iframe>

                    <h3> {{ crowdfunding.titulo }} </h3>
                    <div class="dt_description">
                        <p> {{ crowdfunding.descricao }} </p>
                    </div>
                </div>
            </div>
            <div class="col-11 col-md-6 col-lg-4 col-xl-4 container-fluid dt_info">
                <div class="objetivo_container">
                    <div class="objetivo">
                        <div class="obj">
                            <h3>Objetivo</h3>
                            <span>{{#NumberFormat crowdfunding.valor_meta }} {{/NumberFormat }} </span>
                        </div>

                        <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="0"
                            aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: {{ vg_purcent }}%"></div>
                        </div>

                        <p> {{ vg_purcent }}% da Meta</p>
                        <p> {{ restDay }} dias Restantes</p>
                        <p> {{ apoios }} Pessoas Apoiaram</p>

                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#staticBackdrop">Apoiar Esta Campanha </button>
                    </div>
                </div>

                <!-- Modal -->
                <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
                    tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="staticBackdropLabel">Formulário de Apoio</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="apoio_container">

                                    <form id="form" enctype="multipart/form-data">
                                        <input type="text" placeholder="Nome" name="name">
                                        <input type="email" placeholder="Email" name="email">
                                        <input type="tel" placeholder="Telefone" name="phone">
                                        <input type="text" placeholder="IBAM" name="ibam">
                                        <input type="number" placeholder="Valor da Contribuição" name="value">

                                        <textarea name="descrition" id="" cols="30" rows="7"
                                            placeholder="Mensgem"></textarea>

                                        <label for="comprovativo">Anexar Comprovativo</label>
                                        <input type="file" accept=".pdf" name="comprovativo">

                                        <input type="submit" value="Enviar" class="sub_btn">
                                    </form>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</main>
<!-- MAIN END -->

<script>
    const form = document.getElementById('form')

    // Form for transation for help
    form.addEventListener('submit', async (e) => {
        e.preventDefault();

        const data = new FormData(form);
        console.log('ola')

        try {
            const path = '/crowdfunder/apoiar/{{ crowdfunding.id }}'
            const response = await fetch(path, {
                method: "POST",
                body: data,
            })
            const result = await response.json()

            if (result) {
                location.assign('/crowdfunder/detalhes/{{ crowdfunding.id}}')
            }
        } catch (err) {
            console.log(err)
        }
    })

</script>

{{> footer }}